<body >
    <div class="pop">
    <h2>About Us</h2>
    <div class="back">
       <p>BullvsBear is a stockmarket viewer which provides an easy solution to explore share market with live data. 
        BullvsBear is intended to provide a platform which  provide's real-time stock charting</p>
        <p>We provides platform to any one interested in Trading to explore and learn about Stock Market></p>
        <p>this is a place to view the current stock prices of all the available stocks with historical data
         and News associated with respective stocks.</p>
    </div>
</div>
<div class="wrapper">
            <h2>Services</h2>
            <div class="back" >
                       <p>Explore market</p>
                        <div>Portfolio
                            <li>News</li>
                            <li>History</li>
                        </div> 
                        
                           
                           
                      
                   
             </div>
</div>
<div class="contact">
    <h2>Contact us</h2>
    <div class="back" >
               <p>Email us:<a href="bullvsbear@yahoo.com">bullvsbear@yahoo.com</a></p>
               <p>Address:Office No.2 & 4, First Floor, Galleria Apt, Karve Rd,<br> near Vidya Sahakari Bank, Kothrud, Pune, Maharashtra 411029</p>
           
     </div>
</div>
</body>